// src/pages/BooksListPage/styles.scss

@import "../../styles/variables.scss";

.books-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  position: relative;
  z-index: 1;
}

.book-item {
  border: 1px solid #ccc;
  padding: 1rem;
  cursor: pointer;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }

  img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
  }
}

.search-bar {
  display: flex; /* Ensure input and button are aligned horizontally */
  align-items: center; /* Align items vertically */
  margin-bottom: 1rem;

  input {
    flex: 1; /* Take up remaining space */
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 0.5rem;
  }

  button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: $primary-color;
    color: black;

    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: darken($primary-color, 15%);
    }
  }
}

.toggle-sidebar-button {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: $primary-color;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: darken($primary-color, 15%);
  }
}

.show-more-button {
  margin: 1rem;
  margin-left: 50%;

  transform: translateX(-50%);
  bottom: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: $primary-color;
  color: black;
  border: none;
  border-radius: 20px;
  cursor: pointer;

  &:hover {
    background-color: darken($primary-color, 15%);
  }
}

.sidebar-container {
  position: relative;
  z-index: 2;
}
