@import "../../styles/variables.scss";

main.page {
  .about-us-page {
    flex-direction: row;
    justify-content: center;

    aside {
      margin-top: 3rem;
      border: solid 1px $secondary-color;

      a {
        display: block;
        color: $secondary-color;
        text-decoration: none;
        font-size: 1rem;
        padding: 1rem;
        border-top: solid 1px $secondary-color;

        &.active {
          background-color: $primary-color;
          color: white;
        }

        &:first-child {
          border-top: none;
        }

        &:hover {
          background-color: $secondary-color;
          color: white;
        }
      }
    }

    @include breakpoint-small {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      article {
        flex: 3;
        width: calc(100% - 200px); // Adjust width to accommodate the aside
        margin-right: 2rem; // Add space between article and aside
      }

      aside {
        flex: 1;
        width: 200px;
        margin-top: 0;
      }

      .about-us-logo {
        margin-top: 2rem;
        text-align: center;
        flex-basis: 100%; // Ensure the logo takes up full width

        img {
          width: 20%;
          border-radius: 30%;
          margin: 0 auto;

          @media (max-width: 480px) {
            width: 80%; // Ensure the image scales properly on small screens
          }
        }
      }
    }
  }
}
