$title-font: "Montserrat", sans-serif;
$body-font: "Open Sans", sans-serif;

$primary-color: #c38370;
$secondary-color: #e4b7a0;
$text-color: #a45c40;
$gray-color: #868b8e;
$background-color: #f6eee0;
$border-color: #bbc5c7;
$success-color: #0dc729;
$danger-color: #cd2424;

@mixin breakpoint($min-width) {
  @media only screen and (min-width: $min-width) {
    @content;
  }
}

@mixin breakpoint-small {
  @include breakpoint(600px) {
    @content;
  }
}

@mixin breakpoint-large {
  @include breakpoint(1200px) {
    @content;
  }
}
