@import "../../styles/variables.scss";

.loading-component {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100vw;
  color: $background-color;
  font-size: 2rem;

  .loading-icon {
    animation: rotate 3s linear infinite;
    color: $primary-color;
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
}
