@import "../../styles/variables.scss";

/* HomePage.scss */
.homepage-intro {
  padding: 1rem;
  background-color: $background-color;
  color: $text-color;

  .cta-buttons {
    margin-top: 2rem;
    display: flex;
    justify-content: start;
    gap: 1rem;

    .btn {
      padding: 0.5rem 1rem;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        opacity: 0.9;
      }
    }

    .btn-primary {
      background-color: $primary-color;
      color: black;

      &:hover {
        background-color: darken($primary-color, 15%);
      }
    }

    .btn-secondary {
      background-color: $primary-color;
      color: black;

      &:hover {
        background-color: darken($primary-color, 15%);
      }
    }
  }
}

.homepage-features {
  background-color: $background-color;
  padding: 2rem;

  .feature-list {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 1rem;
      padding-left: 1rem;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0.5rem;
        height: 8px;
        width: 8px;
        background-color: $primary-color;
        border-radius: 50%;
      }
    }
  }
}

h2,
h3 {
  color: $secondary-color;
}

h2 {
  font-size: 2rem;
}

.homepage-mobile-app {
  padding: 2rem;

  .qr-codes-container {
    display: flex;
    justify-content: center;
    gap: 2rem;

    .qr-code {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;

      img {
        max-width: 150px;
        border: 2px solid $primary-color;
      }
    }
  }
}

@media (min-width: 481px) {
  /* For tablets and above */
  .homepage-intro,
  .homepage-features,
  .homepage-mobile-app {
    padding: 2rem;
  }

  .cta-buttons {
    flex-direction: row;
    align-items: center;
  }

  .qr-codes-container {
    flex-direction: row;
  }

  .homepage-intro h2,
  .homepage-features h3,
  .homepage-mobile-app h3 {
    font-size: 2rem; /* Reset font size for larger screens */
  }

  .feature-list li {
    &:before {
      height: 10px;
      width: 10px;
    }
  }

  .qr-code img {
    max-width: 100px;
  }
}
